In [2]:
import toml
import pandas as pd
from pathlib import Path

# Data Validation

## The validation configuration

*Parameters:*

In [3]:
validation_path = Path.cwd().parent / "data" / "metadata_test" / "_validation_schema_v2.toml"

*Code:*

In [4]:
validation = toml.load(validation_path)
validation

{'metadata_keys': ['type', 'format', 'values'],
 'hosts': {'host_id': {'type': 'string', 'format': 'AA0_00000'},
  'host_groupNumber': {'type': 'integer'},
  'host_sex': {'type': 'string', 'format': 'A', 'values': ['M', 'F']},
  'host_age': {'type': 'integer'},
  'host_death': {'type': 'integer'},
  'host_species': {'type': 'string'},
  'host_breed': {'type': 'string'}},
 'events': {'host_id': {'type': 'string', 'format': 'AA0_00000'},
  'event_day': {'type': 'integer'},
  'event_time': {'type': 'string', 'format': 'HH:MM'},
  'event_type': {'type': 'string',
   'values': ['measurement', 'inoculation', 'treatment']},
  'measurement_type': {'type': 'string'},
  'measurement_quantity': {'type': 'float'},
  'measurement_unit': {'type': 'string'},
  'inoculation_type': {'type': 'string'},
  'inoculation_pathogen': {'type': 'string'},
  'inoculation_dose': {'type': 'float'},
  'inoculation_unit': {'type': 'string'},
  'treatment_type': {'type': 'string'},
  'treatment_dose': {'type': 'float'},
  'treatment_unit': {'type': 'string'}},
 'environment': {'environment_level': {'type': 'integer',
   'values': ['1', '2', '3']},
  'environment_id': {'type': 'string', 'format': 'A0_A0'}},
 'environment_events': {'host_id': {'type': 'string', 'format': 'AA0_00000'},
  'environment_id': {'type': 'string', 'format': 'A0_A0'},
  'event_type': {'type': 'string', 'values': ['measurement', 'allocation']},
  'event_day': {'type': 'integer'},
  'event_time': {'type': 'string', 'format': 'HH:MM'},
  'measurement_type': {'type': 'string'},
  'measurement_quantity': {'type': 'float'},
  'measurement_unit': {'type': 'string'}}}

## Verify data structure in project folder

The project folder should have the follwing structure:

├── data

│ ├── environment.csv

│ ├── environment_events.csv

│ ├── hosts.csv

│ └── host_events.csv

*Parameters*

In [5]:
proj_data_path = Path.cwd().parent / "data" / "synthetic_data"

*Code*

In [77]:
files = [f.name for f in proj_data_path.glob('**/*.csv') if f.is_file()]
files = [f for f in files if f in ['environment_events.csv', 'environment.csv', 'host_events.csv', 'hosts.csv']]
assert "environment.csv" in files
assert "environment_events.csv" in files
assert "hosts.csv" in files
assert "host_events.csv" in files
print(f"Found files: {files}")

Found files: ['environment_events.csv', 'environment.csv', 'host_events.csv', 'hosts.csv']

If all files are found, read them in as pandas dataframes:

In [85]:
data = {}
for f in files:
    try:
        data[f] = pd.read_csv(proj_data_path.joinpath(f))
    except pd.errors.EmptyDataError:
        print(f"File is empty: {f}")
assert list(data.keys()) == files # NOTE: environment_events
print(data.keys())

dict_keys(['environment_events.csv', 'environment.csv', 'host_events.csv', 'hosts.csv'])

## Check column names and each file
### Functions

The function below defines when types in the data frame equal the definition in the validation file:

In [79]:
def type_is_equal(col_type: str, val_type: str) -> bool:
    # string
    if col_type == "object" and val_type == "string":
        return True
    # float
    if col_type.startswith("float") and val_type == "float":
        return True
    # integer
    if col_type.startswith("int") and val_type.startswith("int"):
        return True
    return False

The following function walks over all columns in all csv files and checks their data type. It also notifies about columns that were not found but are defined in the validation file:

In [80]:
def check_column_types(data, validation):
    for data_name in data:
        if data_name == "host_events.csv":
            section = "events"
        else:
            section = data_name.split(".")[0]
        print(f"Checking {data_name} against {section}:")
        for var_name in validation[section]:
            if var_name in data[data_name].columns:
                if not type_is_equal(str(data[data_name][var_name].dtype), validation[section][var_name]["type"]):
                    print(f"{var_name} should be {validation[section][var_name]["type"]}")
                    print(f"\t Found: {str(data[data_name][var_name].dtype)}")
    print("----")

The third function finds all columns which are mentioned in the validation file but cannot be found in the data:

In [83]:
def check_column_exists(data, validation):
    for data_name in data:
        if data_name == "host_events.csv":
            section = "events"
        else:
            section = data_name.split(".")[0]
        for var_name in validation[section]:
            if not var_name in data[data_name].columns:
                print(f"{data_name}; Column not found: {var_name}")
    print("----")

### Check individual files according to section in validation file

In [86]:
check_column_exists(data, validation)

----

In [87]:
check_column_types(data, validation)

Checking environment_events.csv against environment_events:
Checking environment.csv against environment:
Checking host_events.csv against events:
event_day should be integer
	 Found: float64
treatment_unit should be string
	 Found: float64
Checking hosts.csv against hosts:
----

### Check that identifers `host_id` and `environment_id` are defined

### Are identifiers unique?

In [8]:
ids = {}

ids["host_id"] = data["hosts.csv"]["host_id"].unique()
if not len(ids["host_id"]) == len(data["hosts.csv"]["host_id"]):
    print("hosts.csv: Column host_id contains duplicates.")
    assert False

In [15]:
ids["environment_id"] = data["environment.csv"]["environment_id"].unique()
if not len(ids["environment_id"]) == len(data["environment.csv"]["environment_id"]):
    print("environment.csv: Column environment_id contains duplicates.")
    assert False

### Are there None values in the identifier columns?

In [13]:
if sum(pd.isna(ids["host_id"])):
    print(f"hosts.csv: There are {sum(pd.isna(ids['host_id']))} empty cells in host_id.")

hosts.csv: There are 1 empty cells in host_id.

In [17]:
if sum(pd.isna(ids["environment_id"])):
    print(f"environment.csv: There are sum(pd.isna(ids['environment_id'])) empty cells in environment_id.")

### Are all identifiers in the other csv files defined?

In [88]:
for id_type in ids:
    for data_name in data:
        if id_type in data[data_name].columns:
            if not set(data[data_name][id_type]).issubset(ids[id_type]):
                 print(f"File {data_name} contains undefined ids in column {id_type}:")
                 print(set(data[data_name][id_type]).difference(ids[id_type]))

File environment_events.csv contains undefined ids in column host_id:
{'tB5', 'iG2', 'aI5', 'qE1', 'cZ3', 'lJ8', 'yF4', 'xL4', 'iZ9', 'iW3', 'cM9', 'iW1', 'mN5', 'lI2', 'hH9', 'bX7', 'eB2', 'gT8', 'tB2', 'xG1', 'oU1', 'gM8', 'vH4', 'lD2', 'xD2', 'dZ8', 'gD1', 'lP5', 'xK5', 'eA2', 'xW8', 'hC2', 'iM3', 'mH1', 'vK3', 'yZ5', 'hG4', 'pX3', 'qX3', 'fB3', 'sQ9', 'cV6', 'wF0', 'eB9', 'kB0', 'dB4', 'sA5', 'eQ0', 'eK8', 'yL4', 'gZ4', 'yN7', 'bI0', 'hE4', 'dJ8', 'bH2', 'iR5', 'gC7', 'zT4', 'rA3', 'rD6', 'sG1', 'cP1', 'oO2', 'uP0', 'fA7', 'bE4', 'uF5', 'oL5', 'cF6', 'uA2', 'mF9', 'oN2', 'tN6', 'hW5', 'bE5', 'oI4', 'vF8', 'wX3', 'jF8', 'oJ0', 'zV9', 'uQ5', 'aF1', 'gI4', 'dX7', 'mU8', 'bU5', 'qM7', 'uA1', 'pR0', 'vF9', 'xH7', 'uP4', 'eQ5', 'xP9', 'gA8', 'hD8', 'wL3', 'nQ8'}
File host_events.csv contains undefined ids in column host_id:
{'pS7', 'zS6', 'vT4', 'jX6', 'zM4', 'aY6', 'cN7', 'bK0', 'uL0', 'sU0', 'oX3', 'lD9', 'cU5', 'aD7', 'sP4', 'lI7', 'jQ9', 'oH0', 'hH8', 'nL2', 'aH4', 'tX6', 'sK2', 'sI0', 'iU8', 'yJ0', 'kC8', 'oN5', 'hP7', 'nH2', 'dH2', 'iF3', 'hY5', 'wM3', 'nD1', 'hF1', 'hQ7', 'pO9', 'fX2', 'vJ8', 'vU8', 'dT0', 'aY5', 'wM5', 'lI1', 'oW5', 'aT9', 'rS8', 'eZ7', 'vP8', 'rN2', 'mM3', 'tN4', 'qU7', 'aF9', 'hV6', 'wZ5', 'xK2', 'wF9', 'uG3', 'wR7', 'xX8', 'jW6', 'qG5', 'cP4', 'pN2', 'bH3', 'gF1', 'qD9', 'gV9', 'lF5', 'yF0', 'bL5', 'gM3', 'oP4', 'kK6', 'iF0', 'iJ1', 'bX6', 'xZ7', 'kO5', 'rS9', 'zF3', 'yO8', 'yN5', 'zD5', 'wP3', 'rJ0', 'xI4', 'mP5', 'lB6', 'vF4', 'yO2', 'gU0', 'sW8', 'sG0', 'lC2', 'rQ2', 'oV2', 'fO0'}
File hosts.csv contains undefined ids in column host_id:
{'47', '16', '55', '77', '96', '17', 'iW3', '79', '18', '43', '54', '31', '99', '40', '5', '0', '75', '32', '72', '41', '71', '53', '48', '85', '30', '2', '4', '69', '64', '98', '37', '94', '67', '33', '92', '21', '90', '57', '70', '62', '12', '52', '73', '1', '6', '28', '20', '91', '74', '19', '24', '25', '89', '80', '26', '60', '83', '76', '23', '35', '46', '87', '68', '93', '3', '58', '36', '82', '63', '49', '34', '59', '14', '38', '9', '11', '27', '44', '42', '78', '84', '39', '65', '10', '22', '97', '95', '50', '7', '56', '66', '29', '51', '81', '86', '8', '88', '15', '45', '61'}
File environment_events.csv contains undefined ids in column environment_id:
{'eE7', 'aX8', 'pW1', 'bU2', 'pH3', 'sW4', 'yH0', 'eA1', 'hM9', 'cB4', 'sT7', 'kH6', 'cW1', 'rD7', 'xL7', 'lK1', 'nK7', 'dJ1', 'lZ3', 'yO5', 'iP7', 'yJ0', 'rA0', 'kG2', 'jL8', 'rM5', 'gS7', 'nQ2', 'hA7', 'wD4', 'aE0', 'wM2', 'vH1', 'vF6', 'cM2', 'jJ4', 'iN6', 'iT6', 'pG3', 'hV2', 'jN1', 'lL8', 'rI6', 'xS2', 'vD2', 'cY5', 'mH5', 'rO1', 'rN7', 'yH4', 'fM1', 'xP3', 'lR8', 'sB2', 'lS9', 'sG7', 'pR8', 'qI0', 'lF5', 'pV1', 'aM1', 'jY3', 'jM7', 'qJ1', 'zG7', 'bK4', 'pD6', 'vU6', 'gI4', 'eZ5', 'dW2', 'xV9', 'uG1', 'zF3', 'cJ4', 'oX9', 'kJ6', 'sP7', 'qK7', 'bY4', 'kW2', 'zB1', 'lI3', 'jZ6', 'oI2', 'cA8', 'dQ9', 'qI2', 'fV7', 'uI4', 'fT5', 'yL9', 'lW2', 'oB6', 'qX8', 'lG6', 'cW0'}

## Depedencies between columns

*Parameters:*

Columns that belong together, if one is set, the others also need to be set.

In [121]:
cols = {}
cols["event"] = ["event_day", "event_time", "event_type"]
cols["measurement"] = ["measurement_type", "measurement_quantity", "measurement_unit"]
cols["inoculation"] = ["inoculation_type", "inoculation_pathogen", "inoculation_dose", "inoculation_unit"]
cols["treatment"] = ["treatment_type", "treatment_dose", "treatment_unit"]

*Function:*

In [122]:
def check_column_clusters(cols: dict, data_frame: pd.DataFrame):
    """Check if rows of cluster columns are defined, return row and col names if not."""
    result = []
    for items in cols.values():
        if set(items).issubset(data_frame.columns):
            df = data_frame[items]
            df_na = df[df.isna().any(axis=1)]
            for index, row in df_na.iterrows():
                if not pd.isna(row).all():
                    result.append((index, items))
    return result

### Check for None/NA values in cluster od columns

In [152]:
for data_name in data:
    result = check_column_clusters(cols, data[data_name])
    if len(result) > 0:
        print(f"{data_name}: Invalid entries found:")
        for res in result:
            df = data[data_name][res[1]]
            print(f"\t Line {res[0]}: {df.iloc[[res[0]]]}")

host_events.csv: Invalid entries found:
	 Line 27:     event_day event_time event_type
27        NaN      23:29  treatment
	 Line 32:     event_day event_time   event_type
32       17.0        NaN  measurement
	 Line 0:   treatment_type  treatment_dose  treatment_unit
0  Steven Carter       13.373607             NaN
	 Line 1:   treatment_type  treatment_dose  treatment_unit
1   David Zamora        6.317515             NaN
	 Line 2:   treatment_type  treatment_dose  treatment_unit
2    Maria Gomez         1.48431             NaN
	 Line 3:   treatment_type  treatment_dose  treatment_unit
3    David James        8.969873             NaN
	 Line 4:    treatment_type  treatment_dose  treatment_unit
4  Jennifer Allen        3.441852             NaN
	 Line 5:   treatment_type  treatment_dose  treatment_unit
5  Amanda Bailey        5.075894             NaN
	 Line 6:   treatment_type  treatment_dose  treatment_unit
6   Joshua Rocha        8.286864             NaN
	 Line 7:   treatment_type  treatment_dose  treatment_unit
7  Timothy Roach       10.536488             NaN
	 Line 8:   treatment_type  treatment_dose  treatment_unit
8   Rachel Cohen        9.077597             NaN
	 Line 9:     treatment_type  treatment_dose  treatment_unit
9  Robert Marshall       12.198685             NaN
	 Line 10:    treatment_type  treatment_dose  treatment_unit
10  Kristin Lopez        5.171391             NaN
	 Line 11:    treatment_type  treatment_dose  treatment_unit
11    James Moody        13.40977             NaN
	 Line 12:    treatment_type  treatment_dose  treatment_unit
12   Alyssa White        2.599107             NaN
	 Line 13:    treatment_type  treatment_dose  treatment_unit
13   Amber Hansen       13.244048             NaN
	 Line 14:    treatment_type  treatment_dose  treatment_unit
14    Brandy Ball        2.534623             NaN
	 Line 15:    treatment_type  treatment_dose  treatment_unit
15  Rick Valencia        2.883883             NaN
	 Line 16:       treatment_type  treatment_dose  treatment_unit
16  Elizabeth Hebert        1.311124             NaN
	 Line 17:     treatment_type  treatment_dose  treatment_unit
17  Stephen Medina        12.02656             NaN
	 Line 18:    treatment_type  treatment_dose  treatment_unit
18    Mark Jordan        3.316627             NaN
	 Line 19:     treatment_type  treatment_dose  treatment_unit
19  Michael Massey         9.39076             NaN
	 Line 20:      treatment_type  treatment_dose  treatment_unit
20  Annette Stevens        6.237244             NaN
	 Line 21:    treatment_type  treatment_dose  treatment_unit
21   Tiffany Bass        9.397212             NaN
	 Line 22:    treatment_type  treatment_dose  treatment_unit
22  Gina Phillips        5.070393             NaN
	 Line 23:    treatment_type  treatment_dose  treatment_unit
23   Laura Watson        6.275457             NaN
	 Line 24:    treatment_type  treatment_dose  treatment_unit
24    Robert Odom        5.013657             NaN
	 Line 25:     treatment_type  treatment_dose  treatment_unit
25  Andrew Daniels        5.005655             NaN
	 Line 26:    treatment_type  treatment_dose  treatment_unit
26     Tina Knapp       10.719111             NaN
	 Line 27:     treatment_type  treatment_dose  treatment_unit
27  Carlos Johnson       11.340545             NaN
	 Line 28:    treatment_type  treatment_dose  treatment_unit
28    James Davis        6.888991             NaN
	 Line 29:    treatment_type  treatment_dose  treatment_unit
29  Sarah Bennett        4.681254             NaN
	 Line 30:    treatment_type  treatment_dose  treatment_unit
30  Jasmine Kline        2.999737             NaN
	 Line 31:    treatment_type  treatment_dose  treatment_unit
31   Ricky Baxter         0.11757             NaN
	 Line 32:    treatment_type  treatment_dose  treatment_unit
32   Megan Fisher       10.593327             NaN
	 Line 33:    treatment_type  treatment_dose  treatment_unit
33     Adam Olson       14.080073             NaN
	 Line 34:    treatment_type  treatment_dose  treatment_unit
34   Joshua Smith        2.398041             NaN
	 Line 35:      treatment_type  treatment_dose  treatment_unit
35  Anthony Mercado       11.014961             NaN
	 Line 36:    treatment_type  treatment_dose  treatment_unit
36    Micheal Kim        2.273033             NaN
	 Line 37:         treatment_type  treatment_dose  treatment_unit
37  Kristine Fernandez        2.083915             NaN
	 Line 38:     treatment_type  treatment_dose  treatment_unit
38  George Whitney        7.900161             NaN
	 Line 39:     treatment_type  treatment_dose  treatment_unit
39  Michael Moreno         6.22548             NaN
	 Line 40:    treatment_type  treatment_dose  treatment_unit
40  Gavin Jackson       13.698313             NaN
	 Line 41:        treatment_type  treatment_dose  treatment_unit
41  William Zimmerman        7.030451             NaN
	 Line 42:      treatment_type  treatment_dose  treatment_unit
42  Anthony Jenkins       14.005838             NaN
	 Line 43:    treatment_type  treatment_dose  treatment_unit
43  Paul Fletcher       11.735217             NaN
	 Line 44:     treatment_type  treatment_dose  treatment_unit
44  Madison Miller         5.46121             NaN
	 Line 45:    treatment_type  treatment_dose  treatment_unit
45     Terri Nash       12.108725             NaN
	 Line 46:        treatment_type  treatment_dose  treatment_unit
46  Nicholas Franklin         0.59814             NaN
	 Line 47:     treatment_type  treatment_dose  treatment_unit
47  Theresa Butler        7.701765             NaN
	 Line 48:    treatment_type  treatment_dose  treatment_unit
48  Megan Edwards        4.259971             NaN
	 Line 49:       treatment_type  treatment_dose  treatment_unit
49  Crystal Schwartz        1.031377             NaN
	 Line 50:    treatment_type  treatment_dose  treatment_unit
50  William Woods       14.725078             NaN
	 Line 51:    treatment_type  treatment_dose  treatment_unit
51  Amanda Miller       11.922995             NaN
	 Line 52:    treatment_type  treatment_dose  treatment_unit
52   Amber Molina        5.080577             NaN
	 Line 53:    treatment_type  treatment_dose  treatment_unit
53  Carly Johnson        8.783794             NaN
	 Line 54:     treatment_type  treatment_dose  treatment_unit
54  Jennifer Mason        8.710203             NaN
	 Line 55:    treatment_type  treatment_dose  treatment_unit
55  Jeremy Taylor        7.821723             NaN
	 Line 56:    treatment_type  treatment_dose  treatment_unit
56  Brandon Woods       11.152739             NaN
	 Line 57:      treatment_type  treatment_dose  treatment_unit
57  Steven Martinez        5.471734             NaN
	 Line 58:    treatment_type  treatment_dose  treatment_unit
58    Eduardo Lam        2.657293             NaN
	 Line 59:       treatment_type  treatment_dose  treatment_unit
59  Nicholas Edwards        2.804448             NaN
	 Line 60:    treatment_type  treatment_dose  treatment_unit
60  Carlos Fowler        1.201272             NaN
	 Line 61:       treatment_type  treatment_dose  treatment_unit
61  Joshua Mcfarland        2.695194             NaN
	 Line 62:    treatment_type  treatment_dose  treatment_unit
62   Sara Manning        6.973575             NaN
	 Line 63:    treatment_type  treatment_dose  treatment_unit
63   Thomas Hardy       12.249471             NaN
	 Line 64:      treatment_type  treatment_dose  treatment_unit
64  Kimberly Becker       11.419891             NaN
	 Line 65:      treatment_type  treatment_dose  treatment_unit
65  Dennis Phillips        7.656123             NaN
	 Line 66:    treatment_type  treatment_dose  treatment_unit
66  Joshua Dennis        2.601895             NaN
	 Line 67:     treatment_type  treatment_dose  treatment_unit
67  Nicholas Colon        1.214527             NaN
	 Line 68:    treatment_type  treatment_dose  treatment_unit
68  Bradley Smith       11.017454             NaN
	 Line 69:      treatment_type  treatment_dose  treatment_unit
69  Carolyn Daniels        7.754124             NaN
	 Line 70:      treatment_type  treatment_dose  treatment_unit
70  Jessica Donovan       10.993445             NaN
	 Line 71:    treatment_type  treatment_dose  treatment_unit
71     John Reyes       14.264264             NaN
	 Line 72:       treatment_type  treatment_dose  treatment_unit
72  Carrie Rodriguez        9.628813             NaN
	 Line 73:    treatment_type  treatment_dose  treatment_unit
73  Ricardo Nixon       12.259662             NaN
	 Line 74:     treatment_type  treatment_dose  treatment_unit
74  Tiffany Rivera       11.100558             NaN
	 Line 75:       treatment_type  treatment_dose  treatment_unit
75  Kimberly Charles        7.726941             NaN
	 Line 76:       treatment_type  treatment_dose  treatment_unit
76  Jeremy Davenport        6.031296             NaN
	 Line 77:    treatment_type  treatment_dose  treatment_unit
77    Paul Harmon       14.888141             NaN
	 Line 78:    treatment_type  treatment_dose  treatment_unit
78   David Adkins        13.66722             NaN
	 Line 79:    treatment_type  treatment_dose  treatment_unit
79  Alyssa Fields        0.789587             NaN
	 Line 80:     treatment_type  treatment_dose  treatment_unit
80  Alexandra Ruiz       10.198884             NaN
	 Line 81:    treatment_type  treatment_dose  treatment_unit
81    Janet Henry         0.29927             NaN
	 Line 82:         treatment_type  treatment_dose  treatment_unit
82  Mrs. Shelly Turner        6.038256             NaN
	 Line 83:    treatment_type  treatment_dose  treatment_unit
83  Brooke Booker        0.142141             NaN
	 Line 84:    treatment_type  treatment_dose  treatment_unit
84   Frank Guzman        6.226332             NaN
	 Line 85:    treatment_type  treatment_dose  treatment_unit
85     John Ellis        0.749485             NaN
	 Line 86:    treatment_type  treatment_dose  treatment_unit
86    Mariah Case       12.852708             NaN
	 Line 87:     treatment_type  treatment_dose  treatment_unit
87  Sharon Hopkins        9.726465             NaN
	 Line 88:     treatment_type  treatment_dose  treatment_unit
88  Deborah Parker       12.265505             NaN
	 Line 89:       treatment_type  treatment_dose  treatment_unit
89  Shannon Phillips         7.51171             NaN
	 Line 90:       treatment_type  treatment_dose  treatment_unit
90  Lindsey Crawford       11.592302             NaN
	 Line 91:      treatment_type  treatment_dose  treatment_unit
91  Barbara Hartman         4.52899             NaN
	 Line 92:      treatment_type  treatment_dose  treatment_unit
92  Michael Sanders        6.547225             NaN
	 Line 93:     treatment_type  treatment_dose  treatment_unit
93  Brittany Lewis       10.491529             NaN
	 Line 94:    treatment_type  treatment_dose  treatment_unit
94     James Snow         5.87413             NaN
	 Line 95:    treatment_type  treatment_dose  treatment_unit
95   Sandy Thomas        2.184097             NaN
	 Line 96:    treatment_type  treatment_dose  treatment_unit
96  Carolyn Moore        7.466179             NaN
	 Line 97:    treatment_type  treatment_dose  treatment_unit
97    Sarah Ponce       12.924667             NaN
	 Line 98:            treatment_type  treatment_dose  treatment_unit
98  Christopher Larsen MD       10.817313             NaN
	 Line 99:    treatment_type  treatment_dose  treatment_unit
99    Laura Baker        6.040088             NaN

## Dependecies between clusters of columns

In [155]:
for data_name in data:
    if set(cols["event"]).issubset(data[data_name].columns):
        measure = set(cols["measurement"]).issubset(data[data_name].columns)
        inoc = set(cols["inoculation"]).issubset(data[data_name].columns)
        treat = set(cols["treatment"]).issubset(data[data_name].columns)
        if not (measure or inoc or treat):
            print(f"{data_name}: Need also information on either of measurement, incoulation or treatment")